#
# MITOLOGY PIPELINE USER CONFIG FILE 
#

# Authors: Joseph Tran <Joseph.Tran@versailles.inra.fr>

# Date: 2014-09-25

# VERSION=0.0.1

[paths]
GENOMES_BASE_PATH=/data/SEQUENCES/GENOME
INDEXES_BASE_PATH=/data/SEQUENCES/INDEX
BWA_INDEXES=bwa
SAMTOOLS_INDEXES=samtools
bcftools=bcftools
bgzip=bgzip
bwa=bwa
khmer_interleave_reads=interleave-reads.py
khmer_load_into_counting=load-into-counting.py
khmer_filter_abund=filter-abund.py
khmer_extract_paired_reads=extract-paired-reads.py
khmer_split_paired_reads=split-paired-reads.py
metavelvetg=/usr/local/src/MetaVelvet-1.2.02-151/meta-velvetg
nucmer=nucmer
samtools=samtools
tabix=tabix
velveth=/usr/local/src/velvet_1.2.10-151/velveth
velvetg=/usr/local/src/velvet_1.2.10-151/velvetg
quast=/usr/local/src/quast-2.3/quast.py
# Add all dependencies paths here

[genome_alias]
# reference genome without chromosome 2 (where mt is inserted) 
ref=Ath-Col0-tair10-WG-sans2
ref_short=Col0-sans2
ref_mito=Ath-Col0-tair10-chrM
ref_chloro=Ath-Col0-tair10-chrC
ref_mito_gff=Ath-Col0-tair10-chrM_genes.gff
ref_chloro_gff=Ath-Col0-tair10-chrC_genes.gff

[sample]
name_alias=cvi
seqfile_parent_dir=/projects/Mitochondrie/Cytopheno/mutdetect_xa/map_and_report_multiple_hits_update/LIB4751_Cvi-0-extr2/LIB4751_vs_Ath-Col0-tair10-WG-sans2/2IE/01_Trimming
seqfile_R1=LIB4751_vs_Ath-Col0-tair10-WG-sans2_2IE_1_paired.fq
seqfile_R2=LIB4751_vs_Ath-Col0-tair10-WG-sans2_2IE_2_paired.fq

[khmer_load_into_counting]
k=20
x=4e9
# do not increase T value: multi-threading is bugged in khmer 1.1. Increase this value will trigger khmer to not recognize fast[aq] format although it is well-formated.
T=1

[khmer_filter_abund]
C=28

[contig_assembler]
name=meta-velvetg
hash_length=71

[scaffolder]
name=meta-velvetg
scaffolding=yes

[velveth]
# file_format only supported: fastq
# read_type only supported: shortPaired
# place only velveth options are supported not the other file format and read type options

[velvetg]
ins_length=440
exp_cov=auto
scaffolding=no

[meta_velvetg]
# peak detection options
exp_covs=558_58
# contiging options
cov_cutoff=5
# scaffolding options
ins_length=440
#scaffolding=no # by default, the pipeline always run the contiging step first (no scaffolding). Use the scaffolder scaffolding swith to enable scaffolding
scaffolding=no
# output options
amos_file= yes

[quast]
T=12
M=150
debug=TRUE

[bwa_aln]
t=2
n=2

[bwa_sampe]
n=10
N=10
A=TRUE

[filtering]
nb_of_independent_event_min=1
nb_of_independent_event=2
nb_of_independent_event_max=5
microindel_size_min=0
microindel_size=5
microindel_size_max=30
MAPQ_min=13
QUAL_ENCODING=33

[samtools_view]
b=TRUE
S=TRUE

[samtools_mpileup]
Q=20
u=TRUE
B=TRUE
f=TRUE

[bcftools_view]
c=TRUE
g=TRUE
v=TRUE

[bgzip]
c=TRUE
f=TRUE

[tabix]
f=TRUE
p=TRUE

